@font-face {
    font-family: 'NOIRetBLANCMediumBold';
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/lesleynotton/font/NOIRetBLANCMediumBold.eot) format('opentype');
